.bg-them{
  background-color:  #ff5733;

}

.cart-logo{
  font-size: 2rem;
}

.hero-background{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  flex-direction: coloum;

}
.img{
  width: 200px;
  height: 100px;
}